.App {
  text-align: center;
  background:white;
  min-height:100vh;
}

.App-header {
  background-color:white;
  height:80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header input {
  width:100%;
  height:40px;
  font-size:24px;
}
.App-header button {
  height:47px;
  width:80px;
  cursor: pointer;
}

.meme-wrap{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin:3px;
}
